main{
    width: auto;
    margin: auto;
}

body{   
    background-color: snow;
}

header{
    text-align: center;
}

form{
    text-align: center;
}

table{
    width: 50%;
    margin: auto;
}

thead{
    text-align: center;
    background-color: dodgerblue;
    color: aliceblue;
}

tbody{
    text-align: center;
    background-color: lightcyan;
}

tbody tr:nth-child(even){
    background-color: lightblue;
}
