main{
    width: auto;
    margin: auto;
}

body{
    width: 150px;
    margin: auto;
    background-color: snow;
}

header{
    text-align: center;
}

form{
    text-align: center;
}

label {
    display: block; 
  }
